@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
// @include flex;  - подключениe

// ----------------------------------------
// @mixin flex($jc: center, $ai: center) {
//     display: flex;
//     justify-content: $jc;
//     align-items: $ai;
// }
// подключениe:
// @include flex(center, center);  
// @include flex(space-evenly, center);

