$titleColor: #039aa4;
$bgColor: #f5f1f1fb;
$bgMainColor: #cecbcb;
// $bgColor: #e1dfdf;
// $bgColor: #eee;
// border-top: 1px solid $bgMainColor;

// breakpointers (для адаптивности):
$bp1: 1130px;
$bp2: 960px;
$bp3: 750px;
$bp4: 650px;
$bp5: 550px;
$bp6: 480px;
$bp7: 400px;
