@import '_variables';
@import '_media';

body {
  font-family:'Times New Roman', Times, serif;
  background: $bgColor;
}

.container {
  margin: 60px auto;
}

h1, h2 {
  text-align: center;
  color: $titleColor;
  margin-bottom: 20px;
}