body {
  font-family:'Times New Roman', Times, serif;
  /* font-family: sans-serif; */
  background: rgb(252, 250, 250);
}

.container {
  margin: 70px auto;
}

h1, h2 {
  text-align: center;
  color: #0d1184;
  // color: #0b0f73;
  margin-bottom: 20px;
}