.busTours {
    margin: 30px;
    &__title {
        text-align: center;
        color: #0b0f73;
        margin-bottom: 20px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;   
        
    }
    &__item {
        height: 307px;
        border: 1px solid rgb(14, 14, 112);
        border-radius: 5px;
        // background-image: url('./../../public/img/paris.jpg');
        // background-repeat: no-repeat;
        // background-size: cover;
        position: relative;
    }
    &__titleTour {
        position: absolute;
        // color: white;
        color: #0b0f73;
        margin: 5px;
    }
    & img {
        height: 250px;
        width: 100%;
    }
    &__buy {
        width: 100%;
        padding: 7px;
        font-size: 16px;
        font-weight: bold;
        border: none;
        color: rgb(14, 14, 112);
        background: rgb(147, 226, 248);
        // background: rgb(131, 213, 236);
        // background: rgb(125, 203, 225);
        // background: rgb(130, 223, 248);
        // background: rgb(130, 130, 248);
        &:hover {
            cursor: pointer;
        }
    }   
}




