.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: #000000;
  color: white;
  &__logo img {
    height: 80px;
  } 
  // &__info {
  //   display: flex;
  //   justify-content: space-around;
  // }
  &__contacts p {
    margin-bottom: 5px;
    font-size: 14px;
  }
  &__title {
    margin-bottom: 10px;
  }    
  // &__text {
  //   text-align: center;
  //   font-size: 14px;
  //   line-height: .7;
  // }  
}

