// .hero-block img {
//     height: 600px;
//     width: 100%;
//     object-fit: cover;
//     object-position: center;
// }

.hero-block {
  margin-top: 110px;
    // background: url('./../../public/img/greese.jpg');
}

.about {
  margin: 50px 0;
  padding: 20px;
  color: #0d1184;
  font-size: 18px;
  gap: 10px;
  background: rgb(167,148,233);
  background: radial-gradient(circle, rgba(167,148,233,.5) 0%, rgba(163,156,233,.5) 9%, rgba(127,221,231,.5) 72%, rgba(115,223,235,0.5) 100%);
  // background: radial-gradient(circle, rgba(167,148,233,1) 0%, rgba(163,156,233,1) 9%, rgba(127,221,231,1) 72%, rgba(115,223,235,0.7629902302717962) 100%);
  // background: rgb(167,148,233);
  // background: radial-gradient(circle, rgba(167,148,233,1) 0%, rgba(163,156,233,1) 9%, rgba(117,240,230,1) 90%, rgba(120,242,232,1) 100%);  
  &__title {
    color: #0d1184;
    text-align: center;
    line-height: 1.5;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    // border: 3px solid white;
  }
  &__item {
    border: 1px solid white;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  &__img {
    margin-right: 15px;
  }
}

.tour-operators {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  &__logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
  }
  img {
    width: 250px;
    height: 100px;
    margin: 10px;  
    border-radius: 5px;
    box-shadow: 0 0 10px #585757 ;
  }
}